*
	margin: 0
	padding: 0
	box-sizing: border-box

html
	scroll-behavior: smooth

body
	background-color: #dfe8e1 !important
	text-color: white !important

	> header
		height: 100vh
video
	object-fit: fill
	height: 100%
	width: 100%

.split
	height: 100%
	width: 50%
	position: absolute
	z-index: 1
	top: 0
	overflow-x: hidden
	paddint-top: 20px

.left
	left: 0

.right
	right: 0

.centered
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	text-align: center
#me
	display: inline-block
	position: relative
	width: 450px
	height: 450px
	overflow: hidden
	border-radius: 50%

#me img
	width: auto
	margin-left: -50px
	
#about
	margin: 2rem
	padding: 2rem
	border: 0 solid
	background-color: white

	>div.container-fluid
		text-align: center


#skills
	background-image: url("../images/beach1.jpeg")
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	padding: 2rem
	
	>div.container-fluid
		text-align: center
#work
	margin: 2rem
	padding: 2rem
	border: 0 solid
	background-color: white

	>div.container-fluid
		text-align: center

.cap
	object-fit: contain

.capdescription
	text-align: center

#contact
	background-image: url("../images/beach1.jpeg")
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	padding: 2rem

	>div.container-fluid
		>div.row
			>div.col
				background-color: white
				border: 0 solid
				margin: 1em
				padding: 1em
				text-align: center
hr
	border-top: 2px solid dotted !important